<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ template_id }}-style.css">
  <title>{{ cpg_title }}</title>
</head>
<body>
  <div class"container">
    <div class="title">
      <h1>{{ cpg_title }}</h1>
      <p>{{ dated }}</p>
      <p><tt>by concord_</tt></p>
    </div>
    <h1>Recommendations</h1>
    <div class="cards-wrapper">
      {% for recommendation in recommendations %}
      {{ recommendation }}
      {% endfor %}
    </div>
    <h1>Assessments</h1>
    <div class="cards-wrapper">
      {% for assessment in assessments %}
      {{ assessment }}
      {% endfor %}
    </div>

    <h1>Health data</h1>
    <div class="cards-wrapper">
        {% for record in records  %}
        {{ record }}
        {% endfor %}
    </div>
  </div>
</body>
</html>
